<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <section class="content">
      <main>
        <h1>Tour of Heroes</h1>
        <nav>
          <a [routerLink]="['']" id="dashboard-link"><span>Dashboard</span></a>
          <a [routerLink]="['/heroes']" id="heroes-link"><span>Heroes</span></a>
        </nav>

        <h3>Top Heroes</h3>
        <section class="heroes">
          <app-heroes
            *ngFor="let hero of heroList"
            [hero]="hero"
            class="heroes"
          ></app-heroes>
        </section>
      </main>
    </section>
  </body>
</html>
